In [105]:
import pandas as pd
import numpy
import scipy

In [106]:
df = pd.read_csv("./training.csv")

In [108]:
df.head()

,StoreNumber,dayOfTheYear,3HourBucket,GrossSoldQuantity,Cash/Credit Site,EBT Site,Loyalty Site,ExtraMile Site,CoBrand,Alcohol,Carwash,Food Service,City,State,Day of week
0,1000,1,1,3,False,True,True,True,No,True,False,True,HOUSTON,TX,2
1,1000,1,2,5,False,True,True,True,No,True,False,True,HOUSTON,TX,2
2,1000,1,3,6,False,True,True,True,No,True,False,True,HOUSTON,TX,2
3,1000,1,4,3,False,True,True,True,No,True,False,True,HOUSTON,TX,2
4,1000,2,1,13,False,True,True,True,No,True,False,True,HOUSTON,TX,3

In [109]:
df.shape

(5660, 15)

In [110]:
df.describe()

       StoreNumber  dayOfTheYear  3HourBucket  GrossSoldQuantity  Day of week
count  5660.000000   5660.000000  5660.000000        5660.000000  5660.000000
mean   2500.706714    181.631449     2.504240          22.690989     4.007774
std    1118.132545    104.530966     1.115276          22.281150     1.992017
min    1000.000000      1.000000     1.000000           0.000000     1.000000
25%    2000.000000     91.000000     2.000000           5.000000     2.000000
50%    2500.000000    181.000000     3.000000          13.000000     4.000000
75%    4000.000000    272.000000     3.000000          36.000000     6.000000
max    4000.000000    363.000000     4.000000         184.000000     7.000000

In [111]:
#Find parameters that matter

#All have Food service
print("Have Food Service: ", df[df["Food Service"]==True].size)
print("No Food Service: ", df[df["Food Service"]==False].size)

Have Food Service:  84900
No Food Service:  0

In [81]:
#Half have Car Wash
print("Have Carwash: ", df[df["Carwash"]==True].size)
print("No Carwash: ", df[df["Carwash"]==False].size)

Have Carwash:  39620
No Carwash:  39620

In [84]:
#About half have Alcohol
print("Have Alcohol: ", df[df["Alcohol"]==True].size)
print("No Alcohol: ", df[df["Alcohol"]==False].size)

Have Alcohol:  39564
No Alcohol:  39676

In [86]:
#All in Texas
print("In Texas: ", df[df["State"]=="Tx"].size)
print("Not Texas: ", df[df["State"]!="Tx"].size)

In Texas:  0
Not Texas:  79240

In [88]:
#None are CoBrand
print("CoBrand: ", df[df["CoBrand"]=="Yes"].size)
print("Not CoBrand: ", df[df["CoBrand"]=="No"].size)

CoBrand:  0
Not CoBrand:  79240

In [89]:
#All are ExtraMile Site
print("ExtraMile Site: ", df[df["ExtraMile Site"]==True].size)
print("Not ExtraMile Site: ", df[df["ExtraMile Site"]==False].size)

ExtraMile Site:  79240
Not ExtraMile Site:  0

In [90]:
#All are Loyalty Site
print("Loyalty Site: ", df[df["Loyalty Site"]==True].size)
print("Not Loyalty Site: ", df[df["Loyalty Site"]==False].size)

Loyalty Site:  79240
Not Loyalty Site:  0

In [91]:
#Half are EBT Site
print("EBT Site: ", df[df["EBT Site"]==True].size)
print("Not EBT Site: ", df[df["EBT Site"]==False].size)

EBT Site:  39564
Not EBT Site:  39676

In [92]:
#None are Cash/Credit Site
print("Cash/Credit Site: ", df[df["Cash/Credit Site"]==True].size)
print("Not Cash/Credit Site: ", df[df["Cash/Credit Site"]==False].size)

Cash/Credit Site:  0
Not Cash/Credit Site:  79240

In [102]:
#Cities: ABout even split between houston, austin, college_station, san_antonio
houston = df[df["City"]=="HOUSTON"]
austin = df[df["City"]=="AUSTIN"]
college_station = df[df["City"]=="COLLEGE STATION"]
san_antonio = df[df["City"]=="SAN ANTONiO"]

print("Houston: ", houston.size)
print("Austin: ", austin.size)
print("College Station: ", college_station.size)
print("San Antonio: ", san_antonio.size)

print("Total: ", houston.size + austin.size + college_station.size + san_antonio.size, df.size)

Houston:  19782
Austin:  19838
College Station:  19782
San Antonio:  19838
Total:  79240 79240

In [103]:
# Summary: 
#     1. All have Food service
#     2. All in Texas
#     3. All are ExtraMile Site
#     4. All are Loyalty Site
#     5. All are not CoBrand
#     6. All are not Cash/Credit Site
#     7. Half are EBT Site
#     8. Half have Car Wash
#     9. Half have Alcohol
#     10. Cities: ABout even split between houston, austin, college_station, san_antonio

SyntaxError: invalid syntax (<ipython-input-103-1482f5334d8c>, line 1)